body {
  margin-top: 15px !important;
  margin-bottom: 15px !important;

  font-family:  Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  
}

ul {
  margin: 5px;
  padding-left: 0;
}

li {
  padding-left: 0;
}

textarea {
  margin: 15px;
}

textarea#linksEntry {
  width: 500px;
  height: 150px;
}

.square {
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0px 0px 8px #929292;
}

.hidden {
  display: none;
}

.editables {
  width: 90%;
}

.attribute {
  width: 8%;
  display: inline-block;
}

.margin20 {
  margin: 20px;
}

.element{
  border: dashed black 1px;
  padding: 10px 5px;
}

.fixwidth {
  max-width: 600px;
}

.layout {
  display: grid;
  grid-template-columns: 62% 38%;
  grid-template-rows: 100%;
}

.col1 {
  grid-column: 1 / 2;
  grid-row: 1 / 1 ;
  margin: 20px;
}

.col2 {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  margin: 20px;
}

.buttons-column {
  width: 100%;
}

.hrefsgrid {
  padding: 5px;
  margin: 0px;
}

.two-columns {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.nopoint {
  list-style: none;
}

.center-text {
  text-align: center;
}

.accordion {
  display: block;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.file-slc {
  width: 300px !important;
  border-bottom: solid 1px black;
  padding: 5px;
}

.mainb {
  margin: 15px;
}

.action-btn {
  width: 250px;
  background: #3498db;
  border: solid 2px #3498db;
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #646464;
  margin: 0px 5px;
}

.action-btn--cancel {
  background: #aaa5a5;
  border: solid 2px #aaa5a5;
}

.action-btn--cancel:hover{
  background: #e6e3e3!important;
  border: solid 2px #e6e3e3!important;
}

.action-btn--accept {
  background: #4be958;
  border: solid 2px #4be958;
}

.action-btn--accept:hover {
  background: #a3eca9!important;
  border: solid 2px #a3eca9!important;
}

.action-btn:hover {
  background: #3cb0fd;
  text-decoration: none;
  outline: unset;
  border: solid 2px #3cb0fd;
}

.action-btn:active {
  box-shadow: unset;
}

.action-btn:focus {
  outline: unset;
}

.action-btn:disabled {
  background: #aaa5a5;
  border: solid 2px #aaa5a5;
  cursor: default;
  box-shadow: none;
}

.action-btn--active {
  background: #ff0000!important;
  border: solid 2px #ff0000!important;
}
.action-btn--active:hover {
  background: #fc4b4b!important;
  border: solid 2px #fc4b4b!important;
}

#jrfBox {
  resize: none;
}

dialog {
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 10px #929292;
}

section {
  text-align: center;
}

menu {
  padding: 5px;
  text-align: center;
}